.navbar{

  display: flex;
  justify-content: space-between;
    background-color: black;
    color: white;
  
  
}
.internal-bar{
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    margin-top: 25px;
} 

.navbar-button>button{
  height: 35px;
  width: 120px;
  border-radius: 25px;
  margin-right: 150px;
  margin-top: 23px;
  font-size: 15px;
  color: white ;
  background-color: teal;
}
.logo{

  margin-left: 100px;
}